[project]
	description = Duilib ??????????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/suweigang (cppfuns)
[access "refs/for/refs/*"]
	read = group user/suweigang (cppfuns)
	push = group user/suweigang (cppfuns)
	label-Code-Review = -2..+2 group user/suweigang (cppfuns)
	label-Verified = -1..+1 group user/suweigang (cppfuns)
	rebase = group user/suweigang (cppfuns)
	removeReviewer = group user/suweigang (cppfuns)
	submit = group user/suweigang (cppfuns)
[access "refs/heads/*"]
	read = group user/suweigang (cppfuns)
	create = group user/suweigang (cppfuns)
	push = +force group user/suweigang (cppfuns)
	pushMerge = group user/suweigang (cppfuns)
[access "refs/tags/*"]
	push = +force group user/suweigang (cppfuns)
	pushTag = group user/suweigang (cppfuns)
	pushSignedTag = group user/suweigang (cppfuns)
